@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lora:wght@600&display=swap');

* {
	margin: 0;
	font-size: 18px;
}

:root {
	--family-primary: 'Lato', sans-serif;

	--size-heading: 32px;
	--weight-heading: 700;

	--size-subheading: 24px;

	--size-callout: 18px;
	--weight-callout: 700;

	--size-callout: 18px;

	--two-column: 2;
}

.homepage {
	background-color: #f5f5f5;
	width: 100vw;
}

.VStack {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.HStack {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
}

.greeting {
	padding-top: 3em;
	padding-bottom: 1em;
	font-size: 32px;
	font-weight: 700;
	font-family: 'Lato';
}

.bio-container {
	width: 650px;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 26px;
}

.footer {
	height: 65px;
	width: 100vw;
	display: grid;
}

.component-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 3em;
}

.component-container.left {
	justify-content: left;
}

.component-container.center {
	justify-content: center;
}

.component-container.row {
	flex-direction: row;
}

.component-header {
	text-align: center;
	font-size: var(--size-heading);
	font-weight: var(--weight-heading);
	font-family: var(--family-primary);
	padding-bottom: 1em;
}

.grid-2 {
	display: grid;
	grid-template-columns: repeat(var(--two-column), 1fr);
	grid-gap: 1em;
	padding: 1em;
}

.grid-3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 1330px;
	grid-gap: 1em;
	padding: 1em;
}

.grid-3-item {
	position: relative;
	text-align: left;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100px;
	height: max-content;
}

.my-selector {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1330px;
}

.row-3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 100%;
	padding-bottom: 1em;
}

.row-option {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 0.5em;
	padding-bottom: 0.5em;

	font-size: var(--size-callout);
	font-weight: var(--weight-callout);
	font-family: var(--family-primary);
}

.row-option-txt:hover {
	cursor: pointer;
}

.row-option.choice {
	text-decoration: underline;
	text-decoration-thickness: 2px;
}

.card {
	grid-column: span 1;
	background-color: white;
	width: 32em;
	height: 15em;
	border-radius: 1em;
	box-shadow: 0 0.4em 0.4em rgba(0, 0, 0, 0.3);
	transition: box-shadow 0.3s ease-in-out;
	padding: 1.6em;

	display: grid;
	grid-template-rows: 1fr, 4fr, 1fr, 2fr;
}

.card:hover {
	box-shadow: 0 0.6em 1.6em rgba(0, 0, 0, 0.5);
}

.card-title {
	font-size: var(--size-subheading);
	font-family: var(--family-primary);
	grid-row: 1 / 2;
}

.card-desc {
	font-size: var(--size-callout);
	grid-row: 2 / 3;
}

.card-tags {
	grid-row: 4 / 4;
}

.text-container {
	word-wrap: normal;
	width: 650px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.logo {
	height: 200px;
	width: 200px;
}

.component-callout {
	font-family: var(--family-primary);
	font-size: var(--size-callout);
	font-weight: var(--weight-callout);
	padding-bottom: 0.5em;
}

@media (max-width: 680px) {
	.bio-container {
		width: 85vw;
	}

	.card {
		width: 85vw;
		height: 39vw;
	}
}

@media (max-width: 1330px) {
	.row-3 {
		display: flex;
		flex-direction: column;
	}

	.component-container {
		flex-direction: column;
	}
}

@media (max-width: 1330px) {
	.row-option {
		justify-content: left;
	}
}

@media (max-width: 1330px) {
	:root {
		--two-column: 1;
	}

	.my-selector {
		width: 75vw;
	}
}
