.banner {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 65px;
	width: 100vw;
	position: fixed;
	z-index: 100;
	background-color: rgba(255, 255, 255, 0);
	transition: background-color 0.5s ease-in-out;
}

@media (max-width: 680px) {
	.banner {
		background-color: rgba(255, 255, 255, 1);
		box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
	}

	.title {
		padding-left: 1em;
	}
}

.scroll {
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
}

.content-container {
	display: grid;
	grid-template-columns: 10fr 1fr 10fr;
	width: 550px;
	padding-top: 1em;
	padding-bottom: 1em;
}

.title-container {
	grid-column: 1 / 2;
	width: max-content;
	display: flex;
	align-items: center;
	justify-content: center;
}

.title {
	text-align: center;
	font-family: 'Lora', serif;
}

.title:hover {
	cursor: default;
}

.links-container {
	display: flex;
	grid-column: 3 / 3;
	align-items: center;
	justify-content: center;
}

.link {
	padding-left: 1em;
	padding-right: 1em;
	font-family: 'Lato', sans-serif;
	color: #3d3d3d;
}

.link:hover {
	cursor: pointer;
}
