@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lora:wght@600&display=swap');

* {
	margin: 0;
	font-size: 18px;
}

:root {
	--project-grid-columns: 3;
	--skill-grid-columns: 3;
}

.homepage {
	background-color: #f5f5f5;
	height: 200vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.banner {
	display: flex;
	align-items: center;
	justify-content: center;
	height: max-content;
	width: 100vw;
	background-color: white;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
	position: fixed;
	z-index: 100;
}

.content-container {
	display: grid;
	grid-template-columns: 10fr 1fr 10fr;
	width: 550px;
	padding-top: 1em;
	padding-bottom: 1em;
}

.title-container {
	grid-column: 1 / 2;
	width: max-content;
	display: flex;
	align-items: center;
	justify-content: center;
}

.title {
	text-align: center;
	font-family: 'Lora', serif;
}

.links-container {
	display: flex;
	grid-column: 3 / 3;
	align-items: center;
	justify-content: center;
}

.link {
	padding-left: 1em;
	padding-right: 1em;
	font-family: 'Lato', sans-serif;
	color: #3d3d3d;
}

.link:hover {
	cursor: pointer;
}

.greeting {
	padding-top: 5em;
	padding-bottom: 2em;
}

.bio-container {
	width: 550px;
}

.projects-container {
	padding-top: 5em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.projects-header {
	text-align: center;
	padding-bottom: 2em;
}

.projects-grid {
	display: grid;
	grid-template-columns: repeat(var(--project-grid-columns), 1fr);
	grid-gap: 1em;
}

.project {
	grid-column: span 1;
	background-color: red;
	padding: 5em;
	border-radius: 1em;
}

.experience-container {
	padding-top: 5em;
}

.experience-header {
	text-align: center;
	padding-bottom: 2em;
}

.experience-display-container {
	display: flex;
}

.skills-container {
	padding-top: 5em;
}

.skills-header {
	text-align: center;
	padding-bottom: 2em;
}

.skill-type-containers {
	display: grid;
	grid-template-columns: repeat(var(--skill-grid-columns), 1fr);
	grid-gap: 10em;
}

.skill-type-container {
	grid-column: span 1;
}

.skill-type-header {
	text-align: left;
}
